body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    align-self: center;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.452);
}

.main {
    max-width: 2000px;
    width: 100%; 
}

.content{
    margin: auto;
    width: 680px;
    max-width: 100%;
    padding-bottom: 10px;
    background-color: #fff;
}

.content img {
    padding: 0;
}

header {
    margin: auto;
    width: 680px;
    max-width: 100%;
    height: 150px;
    max-height: 150px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
}

header img {
    width: 100%;
    height: 150px;
    max-height: 160%;
}

footer {
    margin: auto;
    width: 680px;
    max-height: 200px;
    max-width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
}

footer img {
    width: 100%;
    height: 80px;
}

footer p{
    margin: 10px;
}

.section{
    padding-left: 40px;
    padding-right: 40px;
}

.section p {
    margin: 0;
}

.conteudo-imagem2 {
    display: flex; 
    width: 100%;
}

.conteudo-imagem2 img {
    max-width: 100%;
    height: 200%;
    max-height: 210px;
}

.imagem-com-texto {
    display: flex;
    flex-direction: column; 
    font-size: 15px;
}

.imagem-com-texto p {
    margin-bottom: px;
}

.imagem-com-texto p.small:last-child {
    margin-bottom: 0;
}

#bar1 {
    width: 50%;
    height: 5px;
    background-color:  #3498db;
    margin-bottom: 10px;
}

#bar2 {
    width: 60%;
    height: 5px;
    background-color: blueviolet;
    margin-bottom: 10px;
}

#bar3 {
    width: 60%;
    height: 5px;
    background-color: salmon;
    margin-bottom: 10px;
    margin-top: 0;
}

h3 {
    font-size: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;

}

.small{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.671);
    padding-top: 5px;
    gap: 0;
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header img {
        width: 100%;
        height: 168;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section img {
        max-width: 100%;
        height: auto;
    }

}

@media (max-width: 768px) {
    .imagem-com-texto {
        max-width: 100%;
    }
}