body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    align-self: center;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.452);
}

.main {
    max-width: 2000px;
    width: 100%; 
}

.content{
    margin: auto;
    width: 700px;
    max-width: 2300px;
    padding-bottom: 10px;
    background-color: #fff;
}

.content img {
    padding: 0;
}

header {
    margin: auto;
    width: 700px;
    max-height: 200px;
    background-color: #fff;
    max-width: 2300px;
    padding-top: 20px;
    text-align: center;
}

header img {
    width: 100%;
    height: 200px;
}

footer {
    margin: auto;
    width: 700px;
    max-height: 200px;
    max-width: 2300px;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
}

footer img {
    width: 100%;
}

.section{
    padding-left: 40px;
    padding-right: 40px;
}

/* Contêiner que envolve as imagens e o texto */
.conteudo-imagem2 {
    display: flex; 
}

/* Cada imagem com texto */
.imagem-com-texto {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.imagem-com-texto p.small:last-child {
    margin-bottom: 0;
}

.colored-bar{
    width: 60%;
    height: 5px; 
    background-color: #3498db;
}

.small{
    font-size: 10px;
}

h3 {
    font-size: 20px;
    margin: 0;
}

p {
    margin: 0;
}



/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header img {
        width: 100%;
        height: 168;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section img {
        max-width: 100%;
        height: auto;
    }

}

@media (max-width: 768px) {
    .imagem-com-texto {
        max-width: 100%;
    }
}